*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}

.first-div{

width: 200px;
background-color: rgb(0, 0, 0,6);
color: white;
padding: 10px 0px 10px 0px;
text-align: center;
border-radius: 15px 0 15px 0;
margin-left: 255px;
}

.second-div {
    position: absolute;
    top: 55px;
    right: 250px;
    background-color:rgb(0, 0, 0,6) ;
    width: 200px;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 0 15px 0;
    }

.wrapper{
    padding: 20px;
  display: flex;
  margin: 20px;
  }

#reg-form{
    float: left;
    width: 60%;
    
    
}

#login-form{
    float: right;
    width: 50%;
    }

input{
    width: 100%;
    padding: 12px 20px;
    margin: 7px 0;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
}

#reg-form input {
    width: 90%;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#login-form input {
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 20px;
    color: rgba(0, 255, 255, 0.596);
    font-size: large;
    
    }

input[type=submit] {
    background-color: black;
    color: white;
    padding: 15px;
    
}